{% if http_client.source_interface is ngnos_defined %}
--interface "{{ http_client.source_interface }}"
{% endif %}
{% if http_client.source_address is ngnos_defined %}
--interface "{{ http_client.source_address }}"
{% endif %}
