{% if ssh_client.source_address is ngnos_defined %}
BindAddress {{ ssh_client.source_address }}
{% endif %}
{% if ssh_client.source_interface is ngnos_defined %}
BindInterface {{ ssh_client.source_interface }}
{% endif %}
