[Unit]
Description=ngNOS DNS configuration keeper

# Without this option, lots of default dependencies are added,
# among them network.target, which creates a dependency cycle
DefaultDependencies=no

# Seemingly sensible way to say "as early as the system is ready"
# All ngnos-hostsd needs is read/write mounted root
After=systemd-remount-fs.service cloud-init.service

[Service]
WorkingDirectory=/run/ngnos-hostsd
RuntimeDirectory=ngnos-hostsd
RuntimeDirectoryPreserve=yes
ExecStart=/usr/bin/python3 -u /usr/libexec/ngnos/services/ngnos-hostsd
Type=idle
KillMode=process

SyslogIdentifier=ngnos-hostsd
SyslogFacility=daemon

Restart=on-failure

# Does't work in Jessie but leave it here
User=root
Group=hostsd

[Install]

# Note: After= doesn't actually create a dependency,
# it just sets order for the case when both services are to start,
# and without RequiredBy it *does not* set ngnos-hostsd to start.
RequiredBy=cloud-init-local.service ngnos-router.service
