{% if profile is ngnos_defined or peer is ngnos_defined %}
bfd
{%     if profile is ngnos_defined %}
{%         for profile_name, profile_config in profile.items() %}
 profile {{ profile_name }}
  detect-multiplier {{ profile_config.interval.multiplier }}
  receive-interval {{ profile_config.interval.receive }}
  transmit-interval {{ profile_config.interval.transmit }}
{%             if profile_config.interval.echo_interval is ngnos_defined %}
  echo transmit-interval {{ profile_config.interval.echo_interval }}
  echo receive-interval {{ profile_config.interval.echo_interval }}
{%             endif %}
{%             if profile_config.echo_mode is ngnos_defined %}
  echo-mode
{%             endif %}
{%             if profile_config.passive is ngnos_defined %}
  passive-mode
{%             endif %}
{%             if profile_config.shutdown is ngnos_defined %}
  shutdown
{%             else %}
  no shutdown
{%             endif %}
 exit
 !
{%         endfor %}
{%     endif %}
{%     if peer is ngnos_defined %}
{%         for peer_name, peer_config in peer.items() %}
 peer {{ peer_name }} {{ 'multihop' if peer_config.multihop is ngnos_defined }} {{ 'local-address ' ~ peer_config.source.address if peer_config.source.address is ngnos_defined }} {{ 'interface ' ~ peer_config.source.interface if peer_config.source.interface is ngnos_defined }} {{ 'vrf ' ~ peer_config.vrf if peer_config.vrf is ngnos_defined }}
  detect-multiplier {{ peer_config.interval.multiplier }}
  receive-interval {{ peer_config.interval.receive }}
  transmit-interval {{ peer_config.interval.transmit }}
{%             if peer_config.interval.echo_interval is ngnos_defined %}
  echo transmit-interval {{ peer_config.interval.echo_interval }}
  echo receive-interval {{ peer_config.interval.echo_interval }}
{%             endif %}
{%             if peer_config.echo_mode is ngnos_defined %}
  echo-mode
{%             endif %}
{%             if peer_config.passive is ngnos_defined %}
  passive-mode
{%             endif %}
{%             if peer_config.profile is ngnos_defined %}
  profile {{ peer_config.profile }}
{%             endif %}
{%             if peer_config.shutdown is ngnos_defined %}
  shutdown
{%             else %}
  no shutdown
{%             endif %}
 exit
 !
{%         endfor %}
{%     endif %}
exit
!
{% endif %}
