!
router eigrp {{ local_as }} {{ 'vrf ' ~ vrf if vrf is ngnos_defined }}
{% if maximum_paths is ngnos_defined %}
maximum-paths {{ maximum_paths }}
{% endif %}
{% if metric.weights is ngnos_defined %}
metric weights {{ metric.weights }}
{% endif %}
{% if network is ngnos_defined %}
{%     for net in network %}
network {{ net }}
{%     endfor %}
{% endif %}
{% if redistribute is ngnos_defined %}
{%     for protocol in redistribute %}
redistribute {{ protocol }}
{%     endfor %}
{% endif %}
{% if variance is ngnos_defined %}
variance {{ variance }}
{% endif %}
