!
{% if vrf is ngnos_defined and route_map is ngnos_defined %}
vrf {{ vrf }}
 ipv6 protocol {{ protocol }} route-map {{ route_map }}
 exit-vrf
!
{% elif route_map is ngnos_defined %}
ipv6 protocol {{ protocol }} route-map {{ route_map }}
{% endif %}
!
