# username  server  password  acceptable local IP addresses   shaper
{% if authentication.local_users.username is ngnos_defined %}
{%     for user, user_config in authentication.local_users.username.items() if user_config.disabled is not ngnos_defined %}
{%         if user_config.rate_limit is ngnos_defined %}
{{ "%-12s" | format(user) }} * {{ "%-16s" | format(user_config.password) }} {{ "%-16s" | format(user_config.static_ip) }} {{ user_config.rate_limit.download }}/{{ user_config.rate_limit.upload }}
{%         else %}
{{ "%-12s" | format(user) }} * {{ "%-16s" | format(user_config.password) }} {{ "%-16s" | format(user_config.static_ip) }}
{%         endif %}
{%     endfor %}
{% endif %}
