{% if authentication.mode is ngnos_defined('radius') or shaper is ngnos_defined %}
[shaper]
verbose=1
{%     if authentication.radius.rate_limit.enable is ngnos_defined %}
attr={{ authentication.radius.rate_limit.attribute }}
{%         if authentication.radius.rate_limit.vendor is ngnos_defined %}
vendor={{ authentication.radius.rate_limit.vendor }}
{%         endif %}
{%         if authentication.radius.rate_limit.multiplier is ngnos_defined %}
rate-multiplier={{ authentication.radius.rate_limit.multiplier }}
{%         endif %}
{%     endif %}
{%     if shaper is ngnos_defined %}
{%         if shaper.fwmark is ngnos_defined %}
fwmark={{ shaper.fwmark }}
down-limiter=htb
{%         endif %}
{%     endif %}
{% endif %}
