#!/usr/sbin/nft -f

{% if first_install is not ngnos_defined %}
delete table ip ngnos_nhrp_filter
{% endif %}
table ip ngnos_nhrp_filter {
    chain NGNOS_NHRP_OUTPUT {
        type filter hook output priority 10; policy accept;
{% if tunnel is ngnos_defined %}
{%     for tun, tunnel_conf in tunnel.items() %}
{%         if if_tunnel[tun].source_address is ngnos_defined %}
        ip protocol gre ip saddr {{ if_tunnel[tun].source_address }} ip daddr 224.0.0.0/4 counter drop comment "NGNOS_NHRP_{{ tun }}"
{%         endif %}
{%     endfor %}
{% endif %}
    }
}
